/*------------all------------------*/
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  /*font-family: "Zen Kurenaido", sans-serif;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease; /*maybe make something broken*/
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

/*not functional*/
body {
  background-color: #55185d;
}

/*---------------kimoya logo and text-----------------*/

.kimoya {
  background-color: #ecb602;
  top: 0;
  padding: 40px 0px;
  text-align: center;
}

/*--------------navigation------------------------*/

.navigation {
  min-height: 4vh;
  background-color: #55185d;
}

.navigation ul {
  text-align: center;
  padding: 15px 0px;
}

.navigation li {
  font-size: 20px;
  margin: 0px 10px;
  display: inline;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  text-decoration: underline;
  color: #ffd524;
  /*
  color: #e91e63;
  */
}

.burger {
  display: none;
  float: right;
}

.burger div {
  width: 25px;
  height: 2.5px;
  background-color: whitesmoke;
  margin: 3px;
}

@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }

  .kimoya img {
    width: 70vw;
    height: 20vh;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #290849;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ecb602;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 5vh;
}

@media screen and (max-height: 600px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 30px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*---------------Slider---------------------*/

/* Slideshow container , postion dia relative original*/
.slideshow-container {
  max-width: 100vw;
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*for preview */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
  .imgSlider {
    width: 250px;
    height: 250px;
  }
}

/*Ni somehow for feautured product and shop*/
img {
  vertical-align: middle;
}

.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/*---------------product, shop, card--------------------------*/

.search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

#Search {
  margin-right: 15px;
  width: auto;
}

@media only screen and (max-width: 650px) {
  #Search {
    width: 100%;
    margin-left: 11px;
  }
}

@media only screen and (max-width: 500px) {
  #Search {
    width: 100%;
    margin-right: 10px;
  }
}

.shop {
  background-color: #55185d;
  padding-bottom: 20px;
}

.shop h1 {
  text-align: center;
  font-size: 40px;
  color: #ffd524;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 16.6%;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1120px) {
  .column {
    font-size: 10px;
  }
}

/* Responsive columns */
@media screen and (max-width: 700px) {
  .column {
    width: 33%;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .column {
    width: 50%;
    height: 150px;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  text-align: center;
  background-color: whitesmoke;
}

.card p {
  color: #290849;
}

.card img:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
}

/*------------footer-------------*/

body {
  line-height: 1.5;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 300px) {
  .footer-col {
    width: 100%;
  }
}

/*--------------feautured product----------*/
/*--------------top, right, bottom, left --------*/

.featured-product {
  font-size: 20px;
  background-color: #55185d;
  text-align: center;
  padding-top: 80px;
}

.featured-product h1 {
  color: #ffd524;
}

.featured-product-container {
  background-color: #290849;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.featured-product-container p {
  padding-top: 5px;
}

.container-item {
  font-size: 25px;
  text-align: center;
  width: 250px;
  height: 250px;
  line-height: 50px;
  margin: 10px 10px 40px 10px;
}

.container-item p {
  color: #ecb602;
}

.container-item a {
  font-size: 15px;
  line-height: normal;
  text-decoration: none;
  color: black;
}

.container-item a:hover {
  text-decoration: underline;
  color: #ffd524;
}

@media only screen and (max-width: 500px) {
  .featured-images {
    width: 150px;
    height: 150px;
  }

  .container-item p {
    font-size: 11px;
  }

  .container-item {
    width: 150px;
    height: 150px;
  }
}

/*---------------promotion--------------*/
.promotion {
  font-size: 20px;
  background-color: #55185d;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.promotion h1 {
  color: #ffd524;
}

.promotion-container video {
  width: 100%;
  height: 500px;
}

@media only screen and (max-width: 900px) {
  .promotion-container video {
    height: auto;
  }
}

/*-------------------About and Faq------------*/

/*--------faq*-------*/

/*ni somehow kt aboutfaq punya*/
.active,
.dot:hover {
  background-color: #ecb602;
}

.top-navigation {
  background: #290849;
  padding: 0 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 15px rgb(0, 0, 0, 0.2);
  position: relative;
}

.top-navigation a {
  padding: 1rem 1rem;
  display: inline-block;
  text-decoration: none;
  color: #ffd524;
  width: 50vw;
  text-align: center;
  overflow: hidden;
}

.top-navigation .active {
  color: #252525;
  font-weight: bold;
}

/*
.top-navigation .active:hover {
  background: #f1f1f1;
}
*/

.active-link {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 80px;
  height: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.one-wrap {
  display: flex;
  align-items: start;
  justify-content: center;
  background: #dfdfdf;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .top-navigation a {
    padding: 0.5rem 0.5rem;
  }
}

/*--------About--------*/

.about-faq-content {
  height: 100%;
}

#about-us {
  display: flex;
  flex-direction: column;
  flex: wrap;
  justify-content: center;
}

.about-us-item {
  background: #55185d;
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 20px;
}

.about-us-item h1 {
  padding-bottom: 10px;
  color: #ffd524;
}

.about-us-item p {
  padding: 20px;
  text-align: left;
  background-color: #290849;
  color: #ecb602;
}

#faq {
  display: flex;
  flex-direction: column;
  flex: wrap;
  justify-content: center;
}

.faq-item {
  background: #55185d;
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 20px;
}

.faq-item h4 {
  color: #290849;
  background-color: #ecb602;
}

.faq-item p {
  padding: 20px 50px;
  text-align: left;
  background-color: #290849;
  color: #ecb602;
}

.faq-item h1 {
  color: #ffd524;
}
.about-us-item p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .faq-item p {
    padding: 20px 50px;
    text-align: center;
    font-size: 20px;
  }
  .about-us-item p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .about-us-item p,
  .faq-item p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .about-us-item img {
    width: 100%;
    height: 100%;
  }
}

/*------------contact us--------*/

.contact-details {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #55185d;
}

.contact-details h1 {
  color: #ffd524;
}

.contact-details p,
h4 {
  color: #ecb602;
}

.contact-us {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: center;
  background: whitesmoke;
}

.contact-us-container {
  padding: 50px 0px;
  margin: 5px;
  color: black;
  text-align: center;
  background-color: #290849;
}

.top-container {
  text-align: center;
}

.contact-us-container img {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 900px) {
  .contact-us {
    flex-direction: column;
  }

  .contact-us-container {
    font-size: 13px;
  }
}

.contact-us-container img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.06);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 50%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #ecb602;
  color: white;
  padding: 10px 20px;

  border: none;
  cursor: pointer;
  width: 100px;
}

textarea {
  resize: none;
  margin-top: 10px;
  height: 150px;
  width: 50%;
}

/*--------contact, email letter------*/
.subscribe-email,
.question-email,
.order-submission {
  text-align: center;
  margin: 20px;
  background-color: #290849;
  padding: 50px 50px;
}

.subscribe-email h1,
.question-email h1,
.order-submission h1 {
  color: #ffd524;
}

@media only screen and (max-width: 700px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
  }
}

/*---------------product, our services------------*/
.our-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #55185d;
  padding: 40px;
}

.our-services h1 {
  color: #ffd524;
}
.our-services p {
  color: #ecb602;
}
.our-services-item {
  background-color: #290849;
  font-size: 30px;
}

@media screen and (max-width: 800px) {
  .our-services-item {
    font-size: 20px;
  }
  .our-services {
    flex-direction: column-reverse;
  }
  .our-services-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40vh;
  }
}

@media screen and (max-width: 500px) {
  .our-services-item img {
    width: 100%;
    height: 100%;
  }
}

/*------------------store policy, contact-----------*/
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-wrap: wrap;
}

.flex-item {
  height: auto;
  background-color: #290849;
  padding: 20px;
  margin: 5px;
  color: #ecb602;
  font-size: 20px;
  text-align: center;
}

.store-policy h1 {
  text-align: center;
  color: #ffd524;
}

.store-policy-top {
  padding-top: 20px;
  color: #ffd524;
  font-size: 45px;
}

@media screen and (max-width: 600px) {
  .flex-item {
    font-size: 15px;
  }
}

/*--------------inside product pages--------*/

.product-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.product-view-item .prev,
.product-view-item .next {
  display: none;
}

.product-view-item {
  flex-basis: 200px;
  flex-grow: 1;
  margin: 5px;
}

.product-view-item p {
  padding-top: 20px;
  color: #ecb602;
}

.product-view-item h1 {
  color: #ecb602;
}

.product-view .slideshow-container {
  background-color: white;
  border: solid 1px;
}

.product-view-item .slideshow-container img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .product-view-item .slideshow-container img {
    width: 350px;
    height: 250px;
  }
  .product-view {
    flex-direction: column;
  }
}

@media only screen and (max-width: 450px) {
  .product-view-item .slideshow-container {
    max-width: 100vw;
  }
  .product-view-item .slideshow-container img {
    width: 100%;
  }
}

.product-top-sign {
  text-align: center;
  padding-top: 20px;
}

/*------------how to order----------*/

.how-to-order .top-title {
  text-align: center;
  font-size: 45px;
  padding: 20px 0px;
  color: #ffd524;
}
.how-to-order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.how-to-order-container h1 {
  color: #ffd524;
}

.how-to-order-container p {
  color: #ffd524;
}

.order {
  margin-bottom: 10px;
}

#order-description {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #290849;
}

.order img {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 400px) {
  .order img {
    width: 30vw;
    height: 100px;
  }
  .how-to-order-container {
    flex-wrap: nowrap;
    width: 100%;
  }
}

/*-------------payment method-----------*/

.payment-method .top-payment h1 {
  text-align: center;
  font-size: 45px;
  padding: 20px 0px;
  color: #ffd524;
}

.payment-method .top-payment p {
  color: #ecb602;
  text-align: justify;
  font-size: 20px;
  margin: 0px 40px;
}

.bottom-payment {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: center;
  background: #55185d;
  padding: 50px 0px;
}

.payment-method-container {
  padding: 50px 0px;
  margin: 5px;
  color: #55185d;
  text-align: center;
  background-color: #ffd524;
}

.payment-method-container img {
  width: 100px;
}

.bottom-payment p {
  padding-top: 10px;
}

@media screen and (max-width: 400px) {
  .bottom-payment {
    flex-direction: column;
  }

  .payment-method .top-payment p {
    font-size: 15px;
  }

  .payment-method-container {
    font-size: 13px;
    height: 100px;
  }

  .payment-method-container img {
    width: 100px;
    height: 100px;
  }
}

/*----------button up----------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ecb602;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #ffd524;
  color: #55185d;
}

/*Mobile hover*/
@media (hover: none), (hover: on-demand) {
  #myBtn:hover {
    background: none;
    color: #ecb602;
  }

  .prev:hover,
  .next:hover {
    background: none;
  }

  .navigation a:hover {
    color: #ecb602;
    text-decoration: none;
  }

  .card img:hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
  }
}

/***********note*************/
.note {
  position: sticky;
  bottom: 0px;
  left: 67%;
  right: 0px;
  z-index: 99;
  width: 50.3%;
  height: auto;
  background: transparent;
}

.note-container-item {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding-bottom: 20px;
  background: #290849;
  transition: height 0.4s ease-in-out;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
}

.note-container-item h1 {
  padding: 10px 0px;
  font-size: 20px;
  width: 100%;
  color: #55185d;
  background: #ecb602;
  /*border-bottom: 1px solid whitesmoke;*/
}

.note-container-item h2 {
  padding-top: 100px;
}

#btn3 {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.note i {
  font-size: 25px;
}

.note button {
  float: right;
  display: none;
}

.note-each {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-each a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.note-each a:hover {
  color: #ffd524;
}

.vertical {
  flex-direction: column;
  width: auto;
}

.horizontal {
  flex-direction: row;
}

.note-each-item {
  text-align: center;
  font-size: 12px;
  margin: 1px;
  padding: 15px;
  background-color: #55185d;
  width: 20%;
  color: whitesmoke;
}
.note-each-item input[type="checkbox"] {
  white-space: nowrap;
  width: 20px;
  cursor: pointer;
}

.cart-note i {
  margin: 5px 0px 0px 10px;
  font-size: 40px;
  color: #ecb602;
  float: left;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #290849;
}

@media screen and (max-width: 900px) {
  .note {
    width: 100%;
  }
}

/*------------order-cart--------------*/

.order-cart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px;
  /*border: 1px solid #ecb602;*/
  color: #ecb602;
}

.order-cart-item h1 {
  padding-bottom: 10px;
}

.order-cart-item {
  text-align: start;
}

@media screen and (max-width: 400px) {
  .order-cart-item {
    font-size: 14px;
  }
  .note-each-item {
    /*Ni for note*/
    width: 25%;
  }
}

@media screen and (max-width: 300px) {
  .order-cart-item {
    font-size: 11px;
  }
}

.order-cart-item #copybutton,
.order-cart-item #orderdetails {
  display: block;
  background-color: #ecb602;
  color: #290849;
  border: none;
  cursor: pointer;
  width: 100px;
}

.order-cart-item #copybutton {
  float: right;
}

.order-cart-item #orderdetails {
  float: left;
}

#orderdetails a {
  text-decoration: none;
}

/*--------------------order details--------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

/*-------------------cart order------------------*/

.DivOuter {
  width: max-content;
}

.DivOuter input {
  text-align: center;
  border: none;
}

.DivOuter button {
  background-color: #ecb602;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
}

.cart-button a {
  text-decoration: none;
  background-color: #ecb602;
  color: #290849;
  cursor: pointer;
  font-size: 13px;
}

@media screen and (max-width: 450px) {
  .DivOuter input {
    width: 15vw;
  }

  .DivOuter button {
    padding: 0px 2px;
  }
}

.DivOuter input[type="number"]:disabled {
  background-color: whitesmoke;
  color: #290849;
}

#order-price {
  border: 1px solid #ffd524;
  border-right: none;
  border-left: none;
}

.cart-view {
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid #ecb602;*/
  color: #ecb602;
  height: 100vh;
}

#view-column {
  flex-direction: column;
}

#cart-overflow {
  display: flex;
  overflow-x: auto;

  height: 100vh;
}

.inner-cart {
  text-align: center;
  color: #ffd524;
  width: 50%;
}

.cart-view img {
  width: 100%;
  height: 200px;
}

#view-column {
  flex-basis: 800px;
}

@media screen and (max-width: 1200px) {
  .cart-view img {
    width: 200px;
    height: 140px;
    margin-right: 15px;
  }
  .cart-view {
    flex-direction: column;
    height: auto;
  }
  .inner-cart {
    width: auto;
  }
  #view-column {
    flex-basis: 300px;
  }
}

@media screen and (min-width: 500px) {
  /*custom scrollbar*/
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ecb602;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #290849;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}

#order-display,
#cart-display,
#order-page-title {
  display: none;
}

#no-order {
  text-align: center;
  font-size: 20px;
  color: #ecb602;
}

.thank-you {
  font-size: 20px;
  padding: 100px;
  padding-top: 50px;
  color: #ecb602;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .thank-you {
    padding: 40px;
  }
}

/*form order
#order-form {
  display: none;
}
*/
