/* to the body element */
.noscroll {
  overflow: hidden;
}

.subs {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[aria-hidden="true"] {
  display: none;
}
[aria-hidden="false"] {
  display: block;
}

/* this code is not strictly necessary: just to make this demo a bit pleasant */

.subs div {
  margin: 15vh auto;
  width: 80%;
  max-width: 650px;
  padding: 30px;
  min-height: 30vh;
  background: #ecb602;
  /*background: rgba(255, 255, 255, 0.95);*/
}
.subs {
  background: rgba(40, 40, 40, 0.75);
}

* {
  box-sizing: border-box;
}
.subs button {
  padding: 1em 1em;
  cursor: pointer;
  float: right;
  border: none;
}
pre {
  background: #fafafa;
  padding: 15px;
  border: 1px #ccd dashed;
}
pre + p {
  margin: 5vh 0;
}

.subs h1 {
  font-size: 2em;
  color: #55185d;
}

.subs p {
  color: #55185d;
  font-size: 1.2em;
}

.subs i {
  font-size: 17px;
}

.subs input[type="submit"] {
  cursor: pointer;
}
